html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
    background-color: var(--bege);
}

h1 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
}

h2 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--bordo);
}

p {
    font-size: 18px;
    font-weight: 400;
}

/* HEADER */
.navbar {
    background-color: #060704;
    position: fixed;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 10px 0;
}

.navbar nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 60px;
}

.navbar nav ul li a {
    color: #F5F5F5;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar nav ul li a:hover {
    color: #7A1C1C;
    /* bordô */
}

.navbar .logo img {
    width: 100px;
}


/* MAIN */
.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero.jpg');
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: var(--bege);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.hero-content h1 {
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    font-size: 65px;
    font-family: var(--fonte-titulo);
}

.seta {
    width: 150px;
    margin-top: 10px;
    animation: bounce 2s infinite;
}

.logo-hero {
    width: 150px;
    margin-top: 10px;
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.servicos {
    height: 50vh;
    padding: 100px 20px;
    background-color: var(--bege);
    text-align: center;
}

.servicos h2 {
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    background-color: var(--preto);
    color: var(--branco);
    padding: 30px 20px;
    border-radius: 8px;
    width: 220px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--bege);
}

.card p {
    font-size: 18px;
    font-weight: bold;
    color: var(--bege);
}

.quem-somos {
    padding: 100px 20px;
    background-color: var(--bege);
}

.quem-somos h2 {
    text-align: center;
    font-size: 32px;
    font-family: var(--fonte-titulo);
    color: var(--bordo);
    margin-bottom: 40px;
}

.quem-somos-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.quem-somos-content .texto {
    max-width: 500px;
    text-align: justify;
    line-height: 1.7;
}

.quem-somos-content img {
    width: 400px;
    transition: transform 0.3s;
}
.quem-somos-content img:hover {
    transform: scale(1.05);
}

.galeria {
    padding: 100px 0px;
    margin-top: 12px;
    background-color: var(--bege);
    text-align: center;
}

.galeria h2 {
    font-size: 32px;
    font-family: var(--fonte-titulo);
    color: var(--bordo);
    margin-bottom: 35px;
}

.galeria p {
    max-width: 700px;
    margin: 0 auto 50px auto;
    color: var(--preto);
    font-size: 18px;
}

.galeria-content {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
}

.galeria-item {
    max-width: 305px;
}

.galeria-item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.galeria-item img:hover {
    transform: scale(1.05);
}

.galeria-item p {
    font-size: 14px;
    color: var(--preto);
    line-height: 1.5;
    text-align: left;
}

.localizacao {
    padding: 50px 0px;
    background-color: var(--bege);
    text-align: center;
    margin-top: 60px;
}

.localizacao h2 {
    font-size: 32px;
    font-family: var(--fonte-titulo);
    color: var(--bordo);
    margin-bottom: 40px;
}

.titulo-localizacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.mapa {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

}

.loader {
    width: 44.8px;
    height: 44.8px;
    position: relative;
    transform: rotate(45deg);
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 11.2px at 50% 50%, #0000 94%, #6D1817);
}

.loader:after {
    animation: pulse-ytk0dhmd 1s infinite;
    transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
    to {
        transform: perspective(336px) translateZ(168px);
        opacity: 0;
    }
}

.footer {
    background-color: var(--preto);
    padding: 60px 20px 30px 20px;
    color: var(--bege);
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.footer-top img {
    width: 60px;
}

.footer-top a {
    color: var(--bege);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

.footer-top a:hover {
    color: #7A1C1C;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--bege);
    margin: 20px auto;
}

.footer-balls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-balls img {
    width: 20px;
    height: 20px;
}

.footer-bottom p {
    font-size: 12px;
    color: var(--bege);
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
    color: var(--bege);
  }
  
  .rodape-autor {
    text-decoration: none;
    color: var(--bege); /* pra manter a cor igual ao resto */
    position: relative;
    cursor: pointer;
  }
  
  
  .rodape-autor::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #6D1817;
    transition: width 0.3s ease, background-color 0.3s ease;
  }
  
  .rodape-autor:hover::after {
    width: 100%;
  }
  
