body {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
    background-color: var(--bege);
}

h1 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
}

h2 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--bordo);
}

p {
    font-size: 18px;
    font-weight: 400;
}

/* HEADER */
.navbar {
    background-color: #060704;
    position: fixed;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 10px 0;
}

.navbar nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 60px;
}

.navbar nav ul li a {
    color: #F5F5F5;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar nav ul li a:hover {
    color: #7A1C1C;
    /* bordô */
}

.navbar .logo img {
    width: 100px;
}


/* MAIN */
.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero.jpg');
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: var(--bege);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.hero-content h1 {
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    font-size: 65px;
    font-family: var(--fonte-titulo);
}

.seta {
    width: 150px;
    margin-top: 10px;
    animation: bounce 2s infinite;
}

.logo-hero {
    width: 150px;
    margin-top: 10px;
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.servicos {
    height: 50vh;
    padding: 100px 20px;
    background-color: var(--bege);
    text-align: center;
}

.servicos h2 {
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    background-color: var(--preto);
    color: var(--branco);
    padding: 30px 20px;
    border-radius: 8px;
    width: 220px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--bege);
}

.card p {
    font-size: 18px;
    font-weight: bold;
    color: var(--bege);
}